django==5.2
psycopg2-binary
python-decouple
dj-database-url
Pillow
djangorestframework
dj-rest-auth
djangorestframework-simplejwt
django-allauth
requests
redis
django-redis

celery
django-celery-beat

drf-spectacular
django-filter
django-cors-headers
django-storages
whitenoise[brotli]
structlog
gunicorn

sentry-sdk[django]

psutil
python-json-logger
